.container3 {
   
    //background: $off-black;
    color: white;
    
    
    
  
  }
  .header1 {
    background: $off-black;
   
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
    
    
  
  .img{
    height:3px;
    width: 3px;
    display:flex;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  

  }
}
  .header_msg {
    margin: 1rem;
    margin-left: 4rem;
    
    
  }
  .coures1{
    max-width: 1000rem;
  }
  .coures{
    background: lightblue;
    color: black;
    font-size: $m-size;
    
    
    margin:1rem;
   
    padding: 1.6rem 0.5;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .remainder{
    margin:1rem;
    color: black;
    font-size: $m-size;
    font-weight: 500;

  }
  .container3__Dependencies {
    
    color: black;
    font-size: $m-size;
    font-weight: 500;
    margin: 1rem;
  
    word-break: keep-all;
  
  }
  